* {
	box-sizing: border-box;
}

@font-face {
	font-family: "Glyphter";
	src: url('Glyphter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.glyph {
	font-family: "Glyphter";
}

.container {
	margin: 0 auto;
	width: 1170px;
}

body {
	background-image: url(images/patt.png);
}
.header {
	background-color: rgba(255, 255, 255, 0.8);
	padding-bottom: 25px;
	padding-top: 25px;
	color: #2C71B8;
	font-family: "Roboto";
	font-weight: 100;
}
.row:after {
	content: "";
	display: block;
	clear: both;
}

[class*="col-"] {
	padding: 0;
}
.logo {
	height: 39px;
	margin-top: 6px;
	background-image: url(images/icon_logo.png);
	background-repeat: no-repeat;
}
.menu ul {
	list-style: none;
	margin-left: -33px;
}
.menu > ul > li {
	float: left;
	text-align: center;
	line-height: 50px;
	border-left: 1px solid;
}
.menu > ul > li > a {
	display: block;
	width: 141px;
	height: 50px;
	text-decoration: none;
}
.menu ul li:last-child {
	border-right: 1px solid;
	width: 142px;
}
.menu ul li  {
	text-decoration: none;
	color: #2C71B8;
	font-size: 21px;
}
.menu > ul > li:nth-child(2) {
	position: relative;
}
.menu > ul > li:nth-child(2):hover {
	background-color: #2C71B8;
}
.menu > ul > li:nth-child(2):hover a {
	color: white;
}
.sub-menu {
	position: absolute;
	left: -11px;
	display: none;
	z-index: 10;
}
.menu li:nth-child(2):hover .sub-menu {
	display: block;
}
.sub-menu li a {
	display: block;
	width: 285px;
	height: 40px;
	text-decoration: none;
	background-color: #2C71B8;
	text-align: left;
	padding-left: 30px;
	line-height: 40px;
}
.sub-menu li a:hover {
	background-color: white;
	color: #2C71B8!important;
}
.sub-menu li:first-child a {
	padding-top: 17px;
	height: 57px;
}
.sub-menu li:last-child a {
	padding-bottom: 17px;
	height: 57px;
}
.arrow-down {
	position: absolute;
	color: white;
	top: 1px;
	right: 13px;
	font-size: 8px;
	display: none;
}
.menu > ul > li:nth-child(2):hover .arrow-down {
	display: block;
}
.search-block {
	float: left;
	position: relative;
	margin-left: 20px;
}
input[type="search"] {
	height: 40px;
	width: 200px;
	font-size: 21px;
	padding-left: 20px;
	border: 1px solid #2C71B8;
	background-color: transparent;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #2C71B8;
}
input::placeholder {
	color: #2C71B8;
	font-weight: 100;
}
.search-icon {
	position: absolute;
	top: 10px;
	right: 5px;
	width: 30px;
	height: 30px;
	background-image: url(images/icon_search.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #2C71B8;
}
.basket {
	float: right;
	position: relative;
	width: 40px;
	height: 40px;
	background-image: url(images/icon_basket.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: white;
	margin-top: 5px;
	margin-bottom: 5px;
}
.basket-number {
	position: absolute;
	top: -10px;
	left: -10px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: white;
	background-color: #2C71B8;
	border-radius: 50%;
	font-weight: normal;
}