* {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	width: 1170px;
}

body {
	background-image: url(images/patt.png);
}

.row:after {
	content: "";
	display: block;
	clear: both;
}
.col-md-3 {
	width: 25%;
}
.col-md-6 {
	width: 50%;
}
[class *="col-"] {
	float: left;
}