* {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	width: 1170px;
}

body {
	background-image: url(images/patt.png);
}
.page-header {
	background-color: rgba(255, 255, 255, 0.8);
	padding-bottom: 25px;
	padding-top: 25px;
	color: #2C71B8;
	font-family: "Roboto";
	font-weight: 100;
}
.row:after {
	content: "";
	display: block;
	clear: both;
}
.col-md-3 {
	width: 25%;
}
.col-md-6 {
	width: 50%;
}
[class *="col-"], .search-block {
	float: left;
}
.logo {
	height: 39px;
	margin-top: 6px;
	background-image: url(images/icon_logo.png);
	background-repeat: no-repeat;
}
.menu ul {
	list-style: none;
	margin-left: 10px;
}
.menu ul li {
	float: left;
	width: 141px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-left: 1px solid;
}
.menu ul li:last-child {
	border-right: 1px solid;
	width: 142px;
}
.menu ul li a {
	text-decoration: none;
	color: #2C71B8;
	font-size: 21px;
}
.search-block {
	position: relative;
	margin-left: 20px;
}
input[type="text"] {
	height: 40px;
	width: 200px;
	font-size: 21px;
	padding-left: 20px;
	border: 1px solid #2C71B8;
	background-color: transparent;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #2C71B8;
}
input::placeholder {
	color: #2C71B8;
	font-weight: 100;
}
.search-icon {
	position: absolute;
	top: 10px;
	right: 5px;
	width: 30px;
	height: 30px;
	background-image: url(images/icon_search.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #2C71B8;
}
.basket {
	float: right;
	position: relative;
	width: 40px;
	height: 40px;
	background-image: url(images/icon_basket.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: white;
	margin-top: 5px;
	margin-bottom: 5px;
}
.basket-number {
	position: absolute;
	top: -10px;
	left: -10px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: white;
	background-color: #2C71B8;
	border-radius: 50%;
	font-weight: normal;
}